/* Variables */
$Primary--orange: hsl(25, 97%, 53%);

$Natural--white: hsl(0, 0%, 100%);
$Natural--ligthGray: hsl(217, 12%, 63%);
$Natural--mediumGray: hsl(230, 9%, 13%);
$Natural--gradientGray: hsl(228, 9%, 10%);
$Natural--darkBlue: hsl(213, 19%, 18%);
$Natural--darkBlack: hsl(0, 0%, 0%);
